@import 'reset';

:root {
  --title-font: 'Space Grotesk', sans-serif;
  --body-font: 'JetBrains Mono', monospace;

  --black: #1a1a1a;
  --white: #fff;
  --beige: #f6eee3;

  --font-thin: 100;
  --font-xlight: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-xbold: 800;
  --font-black: 900;

  // font sizes
  --vw-font-sm: 0.8rem;
  --vw-font-reg: 1rem;
  --vw-font-md: 1.25rem;
  --vw-font-lg: 2rem;
  --vw-font-xl: 3rem;
  --vw-font-screen: clamp(2.5rem, 15vw, 10.5rem);

  // transitions
  --fast-speed: all 0.2s ease;
  --mid-speed: all 0.65s ease;
  --slow-speed: all 0.725s ease;
}

@media only screen and (min-width: 600px) {
  :root {
    --vw-font-sm: 1rem;
    --vw-font-reg: 1.1rem;
    --vw-font-md: 1.5rem;
    --vw-font-lg: 2.5rem;
    --vw-font-xl: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --vw-font-sm: 1.05rem;
    --vw-font-reg: 1.3rem;
    --vw-font-md: 2rem;
    --vw-font-lg: 3.25rem;
    --vw-font-xl: 5.5rem;
    --vw-font-screen: clamp(8rem, 12.5vw, 12rem);
  }
}

@media only screen and (min-width: 1440px) {
  :root {
    --vw-font-sm: clamp(1.05rem, 1.05rem, 1.15rem);
    --vw-font-reg: clamp(1.3rem, 1.175vw, 2.5rem);
    --vw-font-md: clamp(2rem, 1.75vw, 4rem);
    --vw-font-lg: clamp(3.25rem, 2.8vw, 6rem);
    --vw-font-xl: clamp(5.5rem, 6vw, 11rem);
    --vw-font-screen: clamp(10rem, 12vw, 14rem);
  }
}

// global styles
span {
  display: inline-block;
}

body {
  font-family: var(--body-font);
  font-weight: var(--font-light);
  letter-spacing: 0.5px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--black);
  color: var(--beige);
  transition-property: color, background-color;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  font-size: var(--vw-font-sm);
}

.content__container {
  padding: 2rem;
  position: relative;
  z-index: 10;
}

@media only screen and (min-width: 800px) {
  .content__container {
    padding: 3rem;
  }
}

img,
figure {
  width: 100%;
  height: 100%;
  pointer-events: none;
  min-height: inherit;
  max-height: inherit;
}

figure {
  overflow: hidden;
}

img {
  object-fit: cover;
  object-position: center;
}

// scroller
.lenis.lenis-smooth {
  scroll-behavior: auto;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

// cursor
#cursor {
  display: none;
}

@media only screen and (min-width: 1024px) {
  #cursor {
    display: block;
    width: 6px;
    height: 6px;
    border: 2px solid var(--white);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, width, height, border-color;
    background: var(--white);
    z-index: 1000;
    mix-blend-mode: difference;

    &.cursor--link {
      background: transparent;
      width: 1.5rem;
      height: 1.5rem;
    }

    &.cursor--img {
      width: 3.5rem;
      height: 3.5rem;
    }

    &.cursor--word {
      width: 9rem;
      height: 9rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  #cursor {
    &.cursor--link {
      width: 2rem;
      height: 2rem;
    }

    &.cursor--img {
      width: 5rem;
      height: 5rem;
    }

    &.cursor--word {
      width: 15rem;
      height: 15rem;
    }
  }
}

// bg cursor
@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

.bg__cursor {
  height: 30rem;
  width: 30rem;
  background: radial-gradient(ellipse at top, #e548dd, transparent),
    radial-gradient(ellipse at bottom, #64a6e9, transparent);

  border-radius: 50%;
  position: absolute;
  left: 50%;
  height: 50%;
  translate: -50% -50%;
  animation: rotate 20s infinite;
  opacity: 0.25;
}

.bg__blur {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(12vmax);
}

// header
.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .initials {
    font-weight: var(--font-bold);
    font-size: var(--vw-font-md);
  }

  .navbar {
    .nav__menu {
      text-align: right;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .nav__link {
        position: relative;
        display: block;
        overflow: hidden;
        cursor: pointer;

        span {
          pointer-events: none;
          position: relative;

          &.hover__text {
            transform: translateY(100%);
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        &:hover {
          span {
            transform: translateY(-100%);
            transition: transform 0.3s ease;

            &.hover__text {
              transform: translateY(0%);
            }
          }
        }
      }
    }
  }
}

// intro
.intro {
  margin-top: 10rem;
  margin-bottom: 8rem;
  text-align: center;

  .name,
  .email {
    font-weight: var(--font-xlight);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--vw-font-reg);

    .line {
      background-color: var(--beige);
      transition: var(--colour-transition);
      height: 0.5px;
      width: 3rem;
      order: 1;
    }
  }

  .name {
    margin-bottom: 1rem;
  }

  .email {
    margin-top: 1rem;
  }

  .heading {
    margin-top: 0.5rem;
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    font-size: var(--vw-font-screen);
    line-height: 1.1;

    .word {
      display: block;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro {
    position: relative;

    .name,
    .email {
      position: absolute;
      top: 5rem;
      margin: 0;
      flex-direction: row;
      gap: 2rem;

      .line {
        width: 0.5px;
        height: 3rem;
        order: 0;
      }
    }

    .email {
      left: 0;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }

    .name {
      right: 0;
      writing-mode: vertical-lr;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .intro {
    margin-top: 10rem;

    .heading {
      line-height: 1;
    }

    .name {
      right: 5%;
    }

    .email {
      left: 5%;
    }
  }
}

@media only screen and (min-width: 1919px) {
  .intro {
    margin-bottom: 16rem;

    .name {
      right: 10%;
    }

    .email {
      left: 10%;
    }
  }
}

// about
.about {
  display: grid;
  gap: 2rem;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 8rem;

  .text {
    padding: 0 2rem;

    h2 {
      font-size: var(--vw-font-lg);
      font-weight: var(--font-black);
      margin-bottom: 0.5rem;
    }

    p {
      max-width: 360px;
      font-size: var(--vw-font-reg);
    }
  }

  .img {
    position: relative;
    min-height: 20rem;
    height: 45vh;
    overflow: hidden;

    figure {
      position: relative;
      z-index: 10;
      transform-origin: left;

      .img__cover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--beige);
        transform-origin: right;
        z-index: 15;
      }
    }
  }
}

@media only screen and (min-width: 650px) {
  .about {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  .about {
    max-width: 1440px;
    gap: 6rem;
    grid-template-columns: 1fr 1.5fr;
    margin-bottom: 10rem;

    .text {
      max-width: 700px;
      margin-left: auto;
      padding: 0;
    }

    .img {
      height: 80vh;
    }
  }
}

@media only screen and (min-width: 1919px) {
  .about {
    margin-bottom: 16rem;
  }
}

// work
.work {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 8rem;

  .text {
    padding: 0 2rem;
    transition: var(--colour-transition);

    h3 {
      font-family: var(--title-font);
      font-weight: var(--font-black);
      font-size: var(--vw-font-screen);
      line-height: 1;
      display: flex;
      flex-direction: column;
      transition: var(--colour-transition);
    }

    p {
      margin-top: 1rem;
      max-width: 275px;
      font-size: var(--vw-font-reg);
    }

    .btn {
      margin-top: 2rem;
      display: block;
      position: relative;
      max-width: max-content;
      padding-bottom: 0.25rem;
      font-weight: var(--font-medium);

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--beige);
        transition: var(--colour-transition);
      }

      overflow: hidden;

      span {
        pointer-events: none;
        position: relative;

        &.hover__text {
          transform: translateY(100%);
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      &:hover {
        span {
          transform: translateY(-100%);
          transition: transform 0.3s ease;

          &.hover__text {
            transform: translateY(0%);
          }
        }
      }
    }
  }

  .work__grid {
    margin: 2rem auto 0 auto;
    max-width: 900px;
    display: grid;
    gap: 1rem;

    .work__grid__item {
      height: 14rem;

      .img {
        height: 100%;
        width: 100%;

        figure {
          position: relative;
          transform-origin: left;

          img {
            object-position: top;
          }

          .img__cover {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: var(--beige);
            transform-origin: right;
            z-index: 10;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 450px) {
  .work {
    .work__grid {
      grid-template-columns: repeat(10, 1fr);

      .work__grid__item {
        height: max-content;

        &:nth-of-type(1) {
          grid-column: 2 / 5;
          margin-top: auto;
        }
        &:nth-of-type(2) {
          grid-column: 5 / 11;
          margin-top: auto;
        }
        &:nth-of-type(3) {
          grid-column: 1 / 6;
        }
        &:nth-of-type(4) {
          grid-column: 6 / 10;
        }
      }
    }
  }
}

@media only screen and (min-width: 650px) {
  .work {
    .text {
      p {
        margin-top: 2rem;
        max-width: 350px;
      }

      p,
      .btn {
        margin-left: 2rem;
      }
    }

    .work__grid {
      margin-top: 4rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .work {
    margin-bottom: 4rem;

    .text {
      p {
        max-width: 400px;
      }
    }

    .work__grid {
      height: 100vh;
      display: flex;
      gap: 4rem;
      max-width: unset;
      width: calc(400vw - 7rem);
      padding: 4rem 0;

      .work__grid__item {
        height: 100%;
        width: calc(100vw - 7rem);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .img {
          width: 92.5%;
        }

        figure {
          display: flex;
          align-items: center;
          justify-content: center;

          .img__cover {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .work {
    margin-bottom: 6rem;
  }
}

@media only screen and (min-width: 1919px) {
  .work {
    margin-bottom: 12rem;
  }
}

// footer
.footer {
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    p {
      font-family: var(--title-font);
      font-weight: var(--font-black);
      font-size: var(--vw-font-screen);
      line-height: 1;
    }

    .btn {
      position: relative;
      display: block;
      overflow: hidden;

      span {
        pointer-events: none;
        position: relative;

        &.hover__text {
          transform: translateY(100%);
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      &:hover {
        span {
          transform: translateY(-100%);
          transition: transform 0.3s ease;

          &.hover__text {
            transform: translateY(0%);
          }
        }
      }
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: var(--beige);
    transition: var(--colour-transition);
    margin: 1rem 0;
  }

  .bottom {
    font-family: var(--title-font);
    font-weight: var(--font-black);
    font-size: var(--vw-font-screen);
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    .bottom {
      font-size: 15vw;
    }
  }
}
